<div>
  <p-splitter styleClass="mb-5">
    <ng-template pTemplate>
      <div class="group">
        <h3>{{ value.title }}</h3>
        <ul>
          <li *ngFor="let group of value.groups" (click)="onGroupClick(group.name)"
            [style.background-color]="group.name === currentGroup?.name ? '#FDD3A4' : 'transparent'">
            {{ group.name }}
          </li>
        </ul>
      </div>
    </ng-template>

    <ng-template pTemplate>
      <div class="item">
        <h3>{{ value.subTitle }}</h3>
        <ul>
          <li *ngFor="let i of currentGroup?.items" (click)="onItemClick(i)"
            [style.background-color]="i.code === item.code ? '#FDD3A4' : 'transparent'">
            {{ i.name }}
          </li>
        </ul>
      </div>
    </ng-template>
  </p-splitter>
</div>
