<div>
  <p-splitter styleClass="mb-5" [panelSizes]="[34, 66]">
    <ng-template pTemplate>
      <div class="group">
        <h3>{{ value.title }}</h3>
        <ul>
          <button *ngFor="let group of value.groups" (click)="onGroupClick(group.name)"
            [ngClass]="currentGroup?.name === group.name ? 'selected' : 'normal'">
            {{ group.name }}
          </button>
        </ul>
      </div>
    </ng-template>

    <ng-template pTemplate>
      <div class="item">
        <h3>{{ value.subTitle }}</h3>
        <ul>
          <button *ngFor="let currentItem of currentGroup?.items" (click)="onItemClick(currentItem)"
            [ngClass]="item.code === currentItem.code ? 'selected' : 'normal'">
            {{ currentItem.display }}
            <div class="content"> {{ currentItem.code }} : {{ currentItem.display }}</div>
          </button>
        </ul>
      </div>
    </ng-template>
  </p-splitter>
</div>
