::ng-deep {
  .p-splitter {
    border: none;
    background: #ffffff;
    border-radius: 6px;
  }

  .p-component {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: normal;
  }
}

h3 {
  font-family: 'Noto Sans TC';
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.4px;
}

ul,
button {
  margin: 0%;
  padding: 0%;
  list-style: none;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  width: 148px;
  min-height: 32px;
  text-align: left;
  border: transparent;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Noto Sans TC';
}

.content {
  display: none;
}

button:hover .content {
  display: block;
  position: absolute;
  top: -30px;
  width: auto;
  right: 0;
  color: #fff;
  font-size: .8em;
  background: #346e7a;
  padding: 5px;
  border-radius: 5px;
}

.group,
.item {
  padding-left: 0.5rem;
}

.selected {
  background-color: #FDD3A4;
  border-radius: 5px;
}

.normal {
  background-color: transparent;
}
