<div>
  <p-splitter styleClass="mb-5">
    <ng-template pTemplate>
      <div class="group">
        <h3>{{ value.title }}</h3>
        <ul>
          <button *ngFor="let group of value.groups" (click)="onGroupClick(group.name)">
            {{ group.name }}
          </button>
        </ul>
      </div>
    </ng-template>

    <ng-template pTemplate>
      <div class="item">
        <h3>{{ value.subTitle }}</h3>
        <ul>
          <button *ngFor="let i of currentGroup?.items" (click)="onItemClick(i)">
            {{ i.name }}
            <div class="content"> 代碼：{{ i.code }}</div>
          </button>
        </ul>
      </div>
    </ng-template>
  </p-splitter>
</div>
